{{ partial "head.html" . }}
  <body class="{{ .Site.Params.themeColor }} {{if .Site.Params.layoutReverse}}layout-reverse{{end}}">
  {{ partial "sidebar.html" . }}
    <main class="content container">
    {{ block "main" . -}}{{- end }}
    </main>


    {{ $jquery := resources.Get "js/jquery-3.5.1.min.js" }}
    {{ $fresco := resources.Get "js/fresco.min.js" }}
    {{ $js := slice $jquery $fresco  | resources.Concat "js/bundle.js" | minify }}

    <script type="text/javascript" src="{{ $js.RelPermalink }}"></script>

    <script type="text/javascript">
    $(function() {
      $('main img').each(function(i, e) {
        $(e).wrap("<a class='fresco' href='" + $(e).attr("src") +  "'></a>");
      });
    });
    </script>

    {{ template "_internal/google_analytics_async.html" . }}
  </body>
</html>
