{{ define "main" -}}
<div class="post">
  <h1>{{ .Title }}</h1>
  <time datetime={{ .Date.Format "2006-01-02T15:04:05Z0700" }} class="post-date">posted {{ .Date.Format "Mon, Jan 2, 2006" }}</time>
  {{ if .Params.series -}}
  <span class="post-info">as part of the <a href="/series/{{ lower .Params.series }}">{{ lower .Params.series }}</a> series</span>
  {{- end }}
  {{ if .Params.author -}}<span class="post-info">by {{ range $i, $e := .Params.author }}{{ if $i }}, {{ end }}<a href="/author/{{ lower $e }}">{{ lower $e }}</a>{{ end }}</span>{{ else }}{{- end }}
  
  

  {{ if .Params.tags -}}
    <div class="post-tags">
      {{ range .Params.tags }}
        <a href="/tags/{{ lower . }}">{{ . }}</a>
      {{ end }}
    </div>
  {{- end }}
  {{ .Content }}
</div>

{{ if .Site.DisqusShortname -}}
<h2>Comments</h2>
{{ template "_internal/disqus.html" . }}
{{- end }}
<script>
  (function() {
    var links = document.querySelectorAll(".post a");

    for (var i = 0, linksLength = links.length; i < linksLength; i++) {
      if (links[i].hostname != window.location.hostname) {
          links[i].target = '_blank';
      } 
    }
  })();
</script>
{{- end }}
