{{ define "main" -}}
<div class="posts">
{{ range (.Paginator 10).Pages -}}
<article class="post">
  <h1 class="post-title">
    <a href="{{ .Permalink }}">{{ .Title }}</a>
  </h1>
  <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}" class="post-date">posted {{ .Date.Format "Mon, Jan 2, 2006" }}</time>
  {{ if .Params.series -}}
  <span class="post-info">as part of the <a href="/series/{{ lower .Params.series }}">{{ lower .Params.series }}</a> series</span>
  {{- end }}
  {{ if .Params.author -}}<span class="post-info">by {{ range $i, $e := .Params.author }}{{ if $i }}, {{ end }}<a href="/author/{{ lower $e }}">{{ lower $e }}</a>{{ end }}</span>{{ else }}{{- end }}
  
  {{ .Summary }}
  {{ if .Truncated }}
  <div class="read-more-link">
    <a href="{{ .RelPermalink }}" title="{{ .Title }}">Read More…</a>
  </div>
  {{ end }}
</article>
{{- end }}

{{ template "_internal/pagination.html" . }}
</div>
{{- end }}
